<h1>Listing reports</h1>

<table class="table">

  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr >
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.socialsecurity %></td>
        <td><%= count = student.reports.count %></td>
        <td><%= link_to "Skapa utredning", new_report_path(:student_id => student.id), :class => "btn btn-black btn-xs"%> <% if count > 0%></td>
        <td> <button class="btn btn-default btn-xs show">Visa utredningar</button> <% end -%></td>
      <div class=""></div>
        <% student.reports.each do |r| %>
      <tr class="hide">
      <td><%= link_to r.created_at.strftime('%Y-%m-%d'), report_path(r.id)%> </td>
      <td> <% u = User.find(r.user_id)%><%= u.email %></td>
      </tr>
        <% end -%>
      
      
 
      
      
    
    <% end %>  
      </tr>
      
  

  </tbody>
</table>
