<h1>Editing report</h1>

<%= form_for @report, :html => {:class=> "grid-form"} do |f| %>

    <fieldset>
        <legend>Pedagogisk utredning för</legend>
        <div data-row-span="1">
            <div data-field-span="1">
                <label><%= f.label :reason, "Anledning till utredning" %></label>
                <%= f.text_area :reason %>
            </div>
          </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label><%= f.label :teacher_experience, "Lärarens erfarenhet" %></label>
                <%= f.text_area :teacher_experience %>
            </div>
          </div>
          
          <div data-row-span="1">
            <div data-field-span="1">
                <label><%= f.label :student_experience, "Elevens erfarenhet" %></label>
                <%= f.text_area :student_experience %>
            </div>
          </div>
        <div data-row-span="3">
            <div data-field-span="1">
                <label><%= f.label :evaluation_date, "Utvärderingsdatum" %></label>
               <%= f.text_field :evaluation_date, :id => "timepicker" %>
             
            </div><div data-field-span="1">
                <label><%= f.label :updated, "Utvärderad?" %></label>
               <%= f.check_box :updated %>
             
            </div>
        </div>
    <%= f.submit %>
        </div>
    </fieldset>

<% end -%>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
