<h1>Listing reports</h1>

<table class="table">
  <thead>
    <tr>
      <th>Förnamn</th>
      <th>Efternamn</th>
      <th>Personnummer</th>
      <th>Antal utredningar</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.socialsecurity %></td>
        <td><%= student.reports.count %></td>
        <td><%= link_to "Skapa utredning", new_report_path(:student_id => student.id), :class => "btn btn-black btn-xs"%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>